@import './variables';

#app {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;

  font-family: palatino;

  .app-title {
    align-items: baseline;
    padding-bottom: 15px;
    display: block;

    @media (max-width: 767px) {
      text-align: center;
    }

    .main {
      color: $appColor;
      font-size: 64px;
      text-decoration: underline;
    }

    .sub {
      color: grey;
      font-size: 16px;
    }

    .col-xs-12 {
      text-align: center;
    }
  }
}
